* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
}

.navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    position: relative;
}

.logo {
    font-size: 24px;
}

.menu-toggle {
    font-size: 24px;
    cursor: pointer;
}

.nav-links {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #333;
    position: absolute;
    top: 60px;
    left: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: height 0.3s ease, opacity 0.3s ease;
    flex-direction: column;
}


.nav-links li {
    text-align: center;
    padding: 10px;
    border-top: 1px solid #444;
    width: 100%;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
}

.nav-links li a:hover {
    color: #ddd;
}

.nav-links.open {
    height: auto;
    opacity: 1;
}

@media (min-width: 600px) {
    .nav-links {
        flex-wrap: wrap;
        height: auto;
        opacity: 1;
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3 columns */
    }

    .nav-links li {
        width: auto;
        border: none;
    }
}
.indexheading1 {
    font-size: 28px;
    margin: 20px;
    text-align: center;
}

.indexheading2 {
    margin: 20px;
    text-align: center;
}

.indexp {
    font-size: 18px;
    margin: 20px;
    line-height: 1.5;
    text-align: justify;
}

ul {
    /* margin: 20px; */
    padding-left: 40px;
    list-style-type: square;
}

ul li {
    font-size: 18px;
    margin: 10px 0;
}